 .nav li.active  {  
    
    cursor: default; 
    background: url('https://www.w3schools.com/css/img_fjords.jpg') no-repeat !important;
     background-size: contain;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent !important;
}